# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# Covers JetBrains IDEs:
.idea/

# Environments
venv/
